<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">

    <meta name="description" content="<%- i18n.__('meta-content') %>" />
    <meta name="keywords"
        content="Công ty TNHH Cân Tanaka Scale Việt Nam,Cân xe tải,Cân sàn,Cân gia súc,Ho Chi Minh,Hanoi,Vietnam.">
    <!-- <link rel="alternate" href="http://www.henglivn.com/vi" hreflang="vi" />
    <link rel="alternate" href="http://www.henglivn.com/en" hreflang="en" /> -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/ico" />

    <!-- CSS ================================================== -->
    <style type="text/css">@charset 'UTF-8';@-ms-viewport{width:device-width}body{margin:0}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}*,:after,:before{-webkit-box-sizing:border-box;-moz-box-sizing:border-box}pre{overflow:auto}pre{font-size:1em}body{background-color:#fff}*,:after,:before{box-sizing:border-box}html{font-size:10px}body{font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;line-height:1.42857143;color:#333}pre{line-height:1.42857143}pre{display:block;color:#333}pre{font-family:Menlo,Monaco,Consolas,"Courier New",monospace}pre{padding:9.5px;margin:0 0 10px;font-size:13px;word-break:break-all;word-wrap:break-word;background-color:#f5f5f5;border:1px solid #ccc;border-radius:4px}body{font-weight:400}body{position:relative}body{font-style:normal}body{background:#fff;color:#333;font-family:Arial,sans-serif;font-size:14px;margin:0}@supports (-ms-accelerator:true){::-webkit-input-placeholder{opacity:0}}</style>

    <link rel="preload" href="/css/style.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="/css/style.min.css"></noscript>

    <title><%- i18n.__("title") %></title>
    <meta name="google-site-verification" content="uOCLnKT0DR3KlXd3E2Fimu4TnSGPAPGvlkWdsEh7u9s" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141678722-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-141678722-1');
    </script>
</head>