<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">

    <meta name="description" content="<%- i18n.__('meta-content') %>" />
    <meta name="keywords"
        content="Công ty TNHH Cân Tanaka Scale Việt Nam,Cân xe tải,Cân sàn,Cân gia súc,Ho Chi Minh,Hanoi,Vietnam.">
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/ico" />

    <!-- CSS ================================================== -->
    <link rel="stylesheet" href="/css/style.min.css">
    
    <title><%- i18n.__("title") %></title>
    <meta name="google-site-verification" content="uOCLnKT0DR3KlXd3E2Fimu4TnSGPAPGvlkWdsEh7u9s" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141678722-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-141678722-1');
    </script>
</head>